@import "tailwindcss";

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 /* background-image: url("/assets/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;*/
  background-color: black;
  background-position: center;
  background-attachment: fixed; /* Fija el fondo */
  height: 100%;
}

html {
  height: 100%;
}


ul{
  list-style: none;
}

/* Esto oculta las barras de scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}