@import "tailwindcss";

/* Reseteos generales */
* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: black;
  height: 100%;
  overflow-x: hidden; /* Evita el scroll horizontal global */
}

/* Evita que cualquier contenedor se desborde en ancho */
main, section, div {
  max-width: 100vw;
}

/* Listas sin viñetas */
ul {
  list-style: none;
}

/* Oculta barras de scroll para los carruseles */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
